<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BaseFile</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
<!-- it will contains header and footer for all html files-->
<header>
    <h1><a href="{% url 'home' %}">Django Blog</a></h1>
</header>
<div>
    {% block content %}
    {% endblock content %}
</div>
</body>
</html>